{% extends "base.html" %}
{% block linkactive %}active{% endblock linkactive %}
{% block title %}Online gov.np Form | Website{% endblock title%}
{% load static %}

{% block body %}

<div class="container">
    <h1 class="top">Online gov.np Form Registration Website Link</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="top1">S.N.</th>
            <th scope="col" class="top1">Gov Registration Form</th>
            <th scope="col" class="top1">Website Link</th>
          </tr>
        </thead>
        <tbody>
          {% for gov_form in metro %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{gov_form.Website_Title}}</td>
              <td><a href="{{gov_form.Website_Link}}" target="_blank">{{gov_form.Website_Link}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
       <hr>
</div>    

{% endblock body %}