{% extends "base.html" %}
{% block linkactive %}active{% endblock linkactive %}
{% block title %}Municipality | नगरपालिका | Nepal | Website{% endblock title%}
{% load static %}

{% block body %}

<div class="container">
    <h1 class="top">Municipality Website Link</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="top1">S.N.</th>
            <th scope="col" class="top1">Municipality | नगरपालिका</th>
            <th scope="col" class="top1">Website Link</th>
          </tr>
        </thead>
        <tbody>
          {% for municipality in metro %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{municipality.Website_Title}}</td>
              <td><a href="{{municipality.Website_Link}}" target="_blank">{{municipality.Website_Link}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
       <hr>
</div>   

{% endblock body %}