{% extends "base.html" %}
{% block linkactive %}active{% endblock linkactive %}
{% block title %}Social Media | Website{% endblock title%}
{% load static %}

{% block body %}

<div class="container">
    <h1 class="top">Social Media Website Link</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="top1">S.N.</th>
            <th scope="col" class="top1">Social Media</th>
            <th scope="col" class="top1">Website Link</th>
          </tr>
        </thead>
        <tbody>
          {% for Social_Media_db in metro %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{Social_Media_db.Website_Title}}</td>
              <td><a href="{{Social_Media_db.Website_Link}}" target="_blank">{{Social_Media_db.Website_Link}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
       <hr>
</div>    

{% endblock body %}