{% extends "base.html" %}
{% block linkactive %}active{% endblock linkactive %}
{% block title %}Sub-Metropolitan Municipality | उपमहानगरपालिका | Nepal | Website{% endblock title%}
{% load static %}

{% block body %}

<div class="container">
    <h1 class="top">Sub-Metropolitan Municipality Website Link</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="top1">S.N.</th>
            <th scope="col" class="top1">Sub-Metropolitan Municipality | उपमहानगरपालिका</th>
            <th scope="col" class="top1">Website Link</th>
          </tr>
        </thead>
        <tbody>
          {% for sub_metropolitan in metro %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{sub_metropolitan.Website_Title}}</td>
              <td><a href="{{sub_metropolitan.Website_Link}}" target="_blank">{{sub_metropolitan.Website_Link}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
       <hr>
</div>
 

{% endblock body %}